<div class="text-center center-block">
  <div style="max-width: 80%; margin-top: 10px;" class="center-block">
    <%= image_tag 'logo.png', class: "img-responsive center-block" %>
  </div>
  <%= link_to(offers_path, id: 'tuideni-button', method: :post) do %>
  <%= image_tag 'green-button-for-web.jpg', class: 'img-responsive center-block' %>
  <% end %>

  <p>
    <%= link_to '登録はこちら', line_path, id: 'line-link' %>
  </p>
</div>
