<div class="text-center center-block">
  <div style="max-width: 80%; margin-top: 10px;" class="center-block">
    <%= image_tag 'logo.png', class: "img-responsive center-block" %>
  </div>

<img class="img-responsive center-block" style="width: 400px" src="http://qr-official.line.me/L/7BYiDmYUpf.png" alt="QRコード">
<p>
  <a href="https://line.me/R/ti/p/%40cch2272a"><img height="36" border="0" alt="友だち追加" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"></a>
</p>
<div>
<%= link_to 'ついで〜に', offers_path, id: 'tuideni-button', class: 'btn btn-lg btn-success', method: :post %>
</div>
